{% extends 'base.html' %}
{% load i18n %}
{% block content %}
    {% if user.portfolio.pk %}
    <div class="layout">
        <div class="profile-container">
            <img class="rounded-circle profile-main-photo" src="{{ user.profile.profile_photo.url }}" height="256" width="256" alt="idk">
            <div class="profile-username">{{ profiles.username }}</div>
            <div class="mb-16px">
                {% if user.profile.profile_photo.url %}
                    <form class="mb-16px profile-photo-form" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form.profile_photo }}
                        <button class="small-green-btn" type="submit">{% translate "Save" %}</button>
                        <a class="small-gray-btn" href="{% url 'profile:profile-info' %}">{% translate "Cancel" %}</a>
                    </form>
                    <a id="profilePhotoBtn" href="{% url 'profile:profile-update' user.profile.pk %}" class="mb-16px btn profile-photo-btn">Edit profile photo</a>
                {% else %}
                <div class="profile-photo-form" id="profilePhotoForm" enctype="multipart/form-data">
                    <form class="mb-16px" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form.profile_photo }}
                        <button class="small-green-btn" type="submit">{% translate "Save" %}</button>
                            <a class="small-gray-btn" href="{% url 'profile:profile-info' %}">{% translate "Cancel" %}</a>
                    </form>
                </div>
                <button id="profilePhotoBtn" class="mb-16px btn profile-photo-btn">{% translate "Add profile photo" %}</button>
                {% endif %}
                <a href="{% url 'portfolio:portfolio_main' user.portfolio.pk %}">{% translate "Portfolio" %} </a>
            </div>
        </div>
        <div class="mt-16px">
            <div class="project-container">
                <h1>{% translate "Your projects" %} </h1>
                {% for portfolio_project in portfolio_projects %}
                    <div class="mb-16px project-item">
                        <div class="project-item-content">
                            <div class="project-item-content-title">
                                <a href="{% url 'portfolio:portfolio_detail' user.portfolio.pk %}">{{ portfolio_project.title }}</a>
                                <div class="project-item-content-createdtime">{{ portfolio_project.due_date }}</div>
                            </div>
                            <span class="project-item-content-description">{{ portfolio_project.description }}</span>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% else %}
    <div class="layout">
        <div class="profile-container">
            <img class="rounded-circle profile-main-photo" src="{{ user.profile.profile_photo.url }}" height="256" width="256" alt="idk">
            <div class="profile-username">{{ profiles.username }}</div>
            <div class="mb-16px">
                {% if user.profile.profile_photo.url %}
                    <form class="mb-16px profile-photo-form" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form.profile_photo }}
                        <button class="small-green-btn" type="submit">{% translate "Save" %} </button>
                        <a class="small-gray-btn" href="{% url 'profile:profile-info' %}">{% translate "Cancel" %} </a>
                    </form>
                    <a id="profilePhotoBtn" href="{% url 'profile:profile-update' user.profile.pk %}" class="mb-16px btn profile-photo-btn">{% translate "Edit profile photo" %} </a>
                {% else %}
                <div class="profile-photo-form" id="profilePhotoForm" enctype="multipart/form-data">
                    <form class="mb-16px" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form.profile_photo }}
                        <button class="small-green-btn" type="submit">{% translate "Save" %} </button>
                            <a class="small-gray-btn" href="{% url 'profile:profile-info' %}">{% translate "Cancel" %} </a>
                    </form>
                </div>
                <button id="profilePhotoBtn" class="mb-16px btn profile-photo-btn">{% translate "Add profile photo" %} </button>
                {% endif %}
                <a href="{% url 'portfolio:portfolio_create'%}">{% translate "Portfolio Create" %} </a>
            </div>
        </div>
        <div class="mt-16px">
            <div class="project-container">
                <h1>{% translate "Your projects" %} </h1>
                <div>{% translate "You should first create portfolio" %} </div>
            </div>
        </div>
    </div>
    {% endif %}
{% endblock content %}