{% extends "base.html" %}
{% load i18n %}

{% block content %}

<div class='container'>

    <h2>{% translate "Delete page" %}</h2>
    <p>{% translate "Are you sure you want to delete page" %}  {{object.title}} </p>

    <form method='post'>
        {% csrf_token %}
        <button type='submit' class='btn btn-danger'>{% translate "Yes, delete" %} </button>
        <a href='{% url "survey:survey-detail" object.survey.pk  %}' > {% translate "Go back to survey" %} </a >
    </form>

</div>

{% endblock content %}



