{% extends "base.html" %}
{% load i18n %}

{% block content %}

{% include "survey/survey_nav_tabs.html" %}

{{survey}}
<br>
{% translate "Link to complete survey" %}  <a href='{% url "survey:fill-survey" survey.pk %}' >{{request.get_host}}{% url "survey:fill-survey" survey.pk %}</a>
<br>
<a href='{% url "survey:survey-answers-download" survey.pk %}'>{% translate "Download in csv file" %} </a>

<table class="table">
    <thead>
      <tr>

        <th scope="col">{% translate "User" %} </th>
        <th scope="col">{% translate "created" %} </th>
               
        {% for page in survey.pages.all %}
           {% for question in  page.questions.all %}
            <th scope="col">{{question.item}}</th>
           {% endfor %} 
        {% endfor %}

      </tr>
    </thead>
    <tbody>

      {% for result in survey.results.all %}
        <tr>
          <th scope="row">{{result.user}}</th>
          <th scope="row">{{result.created}}</th>
          {% for record in result.records.all %}
          <td>{{ record.answer }}</td>
          {% endfor %}
        </tr>
      {% endfor %}


      
    </tbody>
  </table>

{% endblock content %}