<!DOCTYPE html>
<html>
<head>
  {% load i18n %}

  <title>{% translate "Portal Group" %}</title>
  {% load static %}
  <script src="{% static 'js/main.js' %}" defer></script>
  <link rel="stylesheet" type="text/css" href="{% static 'css/event.css' %}">
<body>

{% block content %}
<div class="container">
    <h2>{% translate "Create Event" %}</h2>
    <form method="post" novalidate>
        {% csrf_token %}
        <div class="form-field">
            <label for="id_title">{% translate "Title" %}:</label>
            {{ form.title }}
          </div>
          <div class="form-field">
            <label for="id_start_time">{% translate "Start time" %}:</label>
            <input type="date" id="id_start_time" name="start_time" class="form-input">
          </div>
          <div class="form-field">
            <label for="id_end_time">{% translate "End time" %}:</label>
            <input type="date" id="id_end_time" name="end_time" class="form-input">
          </div>
          <div class="form-field">
            <label for="id_description">{% translate "Description" %}:</label>
            {{ form.description }}
          </div>
          <div class="form-field">
            <label for="id_category">{% translate "Category" %} :</label>
            {{ form.category }}
          </div>
          <div class="form-field">
            <label for="id_status">{% translate "Status" %} :</label>
            {{ form.status }}
          </div>
          <div class="form-field">
            <label for="id_event_type">{% translate "Type" %} :</label>
            {{ form.event_type }}
          </div>
        <button type="submit">{% translate "Create Event" %}</button>
    </form>
    <a href="{% url 'event:calendar' %}" class="back-button">{% translate "Back to Main" %}</a>
</div>
{% endblock %}
</body>
</html>
