{% extends "base.html" %}

{% block content %}

{% load custom_tags %}

{% for voting in votings  %}
    {{ voting }}<br>

    
    {% for option in voting.options.all %}
    <form method="post" action="{% url 'polls:vote-toggle' option.pk %}">
        {% csrf_token %}
        <button type="submit" class="btn btn-primary">{{option }}{{option.votes_count_perc}}</button>

        {% if  voting|is_voted:user %}
        <div class="progress">
            <div class="progress-bar" role="progressbar" aria-label="Example with label" style="width: {{option.votes_count_perc}}%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">{{option.votes_count_perc}}%</div>
          </div>
        {% endif %}
        
    </form>
    <br>
    {% endfor %}
    

    {{voting.votes_count}} votes

{% endfor %}

{% endblock content %}


