{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h2>{% translate "Deleting grade" %} </h2>
    <p>{% translate "Are you sure you want delete grade" %}  {{ object.user }} {{ object.predmet }}"?</p>

    <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">{% translate "Yes delete" %}</button>
        <a href="{% url 'grades:grades_list' %}" class="btn btn-secondary">{% translate "No go back to grades list" %} </a>
    </form>
</div>
{% endblock %}