{% extends "base.html" %}
{% load i18n %}


{% load forum %} 


{% block content %}
    
{% for grade in grades %}
    <h2>{% translate "student" %}: {{grade.user}}</h2>
    <h3>{% translate "subject" %}: {{grade.predmet}}</h3>
    <p>{% translate "grade" %}: {{grade.ocenka}}</p>
    <p>{% translate "commment" %}: {{grade.comment}}</p>
    <p>{% translate "graded by" %}: {{grade.creation_date}} by {{grade.creator}}</p>
    {% if user|has_perms:'grades.delete_grade' %}
    <a href="{% url 'grades:grade_delete' grade.id%}">{% translate "Delete grade" %} </a>
    {% endif %}
    <hr>
{% endfor %}

    {% if user|has_perms:'grades.add_grade' %}
    <a href="{% url 'grades:grade_create' %}" class="btn btn-primary">{% translate "Create grade" %} </a>
    {% endif %}

{% endblock %}