{% extends "base.html" %}

  {% block content %}
  <h1 style="text-align: center;">Welcome to the Portal</h1>
  
  <div class="card-container">
    <div class="card">
      <h2>Forum</h2>
      <p>Join the discussion on our forum.</p>
      <a href="{% url 'forum:thread-list' %}" class="btn_3">Go to Forum</a>
    </div>
    <div class="card">
      <h2>News</h2>
      <p>Stay updated with the latest news.</p>
      <a href="{% url 'announsements:news_list' %}" class="btn_3">Read News</a>
    </div>
    <div class="card">
      <h2>Portfolio</h2>
      <p>Create and manage your projects.</p>
      {% if user.is_authenticated %}
      {% if user.portfolio and user.portfolio.pk %}
      <a href="{% url 'portfolio:portfolio_main' user.portfolio.pk %}" class="btn_3">Go to Portfolio</a>
      {% else %}
      <a href="{% url 'portfolio:portfolio_create' %}" class="btn_3">Create Portfolio</a>
      {% endif %}
      {% else %}
      <a href="{% url 'auth_sys:login' %}" class="btn_3">Sign in to Create Portfolio</a>
      {% endif %}
    </div>
    <div class="card">
      <h2>Friends</h2>
      <p>Find a friends and chat with them.</p>
      <a href="{% url 'friends:friend_list' %}" class="btn_3">Find a Friend</a>
    </div>
    <div class="card">
      <h2>Gallery</h2>
      <p>If you want see intresting, funny, scary photo go to the Gallery.</p>
      <a href="{% url 'friends:friend_list' %}" class="btn_3">Go to the Gallery</a>
    </div>
    <div class="card">
      <h2>Електрический дневник</h2>
      <p>monitor your grades.</p>
      <a href="{% url 'friends:friend_list' %}" class="btn_3">See your Grades</a>
    </div>
  </div>
  <div class>

  </div>
  {% endblock %}