{% extends 'base.html' %}

{% block content %}
<section class="portfolio-form">
    <div class="title">Create your portfolio</div>
    <form method="post" class="form" novalidate>
        {% csrf_token %}
        {{ form.name }}
        {{ form.surname }}
        {{ form.birthdate }}
        {{ form.motivation_letter }}
        {{ form.number }}
        {{ form.email }}
        {{ form.s_skills }}
        {{ form.studying }}
        {{ form.expirience }}
        {{ form.name_and_url }}
        {{ form.user }}
        <div>
            <button type="submit" class="form-btn">Create</button>
        </div>
    </form>
</section>
{% endblock %}
