{% extends 'base.html' %}

{% block content %}
<section class="portfolio-form">
    <div class="title">Fill information about your projects</div>
    <form method="post" class="form" novalidate>
        {% csrf_token %}
        {{ form.title }}
        {{ form.description }}
        {% if pk %}
            <div>
                <button type="submit" class="btn form-btn">Update</button>
            </div>
        {% else %}  
            <div>
                <button type="submit" class="btn form-btn">Save</button>
            </div>
        {% endif %}
    </form>
</section>
{% endblock %}