body {
  background-color: #010409;
  font-family: "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

.gallery-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  justify-content: space-between;
  margin-top: 15px;
}

.card-container {
  flex: 1 1 calc(33.333% - 40px);
  max-width: calc(33.333% - 40px);
  display: flex;
  justify-content: center;
}

.card {
  background-color: #0d1117;
  border: 1px solid #30363d;
  border-radius: 10px;
  padding: 20px;
  width: 300px;
  height: 500px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
  transition: transform 0.2s;
}

.card-body {
  color: #fff;
}

.card:hover {
  transform: scale(1.05);
}

.card-2 img {
  max-width: 100%;
  height: auto;
  margin-bottom: 15px;
}

  @media (max-width: 600px) {

    .card-container {
      padding: 10px;
  }
}

.nav {
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  border-color: white;
}

.nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.nav ul li {
  margin-right: 20px;
}

.nav ul li a {
  text-decoration: none;
  color: #c9d1d9;
  font-size: 20px;
  padding: 10px 15px;
  border-radius: 10px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.nav ul li a:hover {
  background-color: #0d1117;
  transform: scale(1.05);
}

.divider {
  margin-top: 5px;
  height: 1px;
  background-color: #30363d;
  width: 100%;
}

footer {
  position: fixed;
  padding: 10px 20px;
  right: 0;
  bottom: 0;
  text-align: center; 
  width: 100%;
  z-index: 1000;
  box-shadow: inset 0px 2px 2px -1px rgba(0, 0, 0, 0.1);
}

.current {
  color: #c9d1d9;
  background: #0d1117;
  border: 1px solid #30363db3;
  margin: 10px;
  padding: 10px;
  padding: 8px 12px;
  border-radius: 15px;
  cursor: pointer;
  text-decoration: none;
}
.current:hover {
  background-color: #292e36;
}

.next {
  color: #c9d1d9;
  background: #0d1117;
  border: 1px solid #30363db3;
  margin: 10px;
  padding: 10px;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
}
.next:hover {
  background-color: #292e36;
}

.previous {
  color: #c9d1d9;
  background: #0d1117;
  border: 1px solid #30363db3;
  margin: 10px;
  padding: 10px;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
}
.previous:hover {
  background-color: #292e36;
}