body {
  background-color: #010409;
}

.gallery-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  justify-content: space-between;
}

.card-container {
  flex: 1 1 calc(33.333% - 40px);
  max-width: calc(33.333% - 40px);
  display: flex;
  justify-content: center;
}

.card {
  background-color: #0d1117;
  border: 1px solid #30363d;
  border-radius: 10px;
  padding: 20px;
  width: 300px;
  height: 500px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
  transition: transform 0.2s;
}

.card:hover {
  transform: scale(1.05);
}

.card-2 img {
  max-width: 100%;
  height: auto;
  margin-bottom: 15px;
}

  @media (max-width: 600px) {

    .card-container {
      padding: 10px;
  }
}