body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: #f8f9fa;
    font-family: Arial, sans-serif;
}

header {
    background-color: #f8f9fa;
    padding: 10px 20px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

nav {
    overflow: hidden;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    display: block;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
    transition: background-color 0.3s ease;
    border-radius: 15px;
}

nav ul li a:hover {
    background-color: #8a8383;
}

main {
    padding: 80px 20px 20px 20px;
    border-radius: 10px;
    margin: 20px;
    min-height: 200vh;
    box-sizing: border-box;
}