body, html {
    color: #fff;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: #010409;
    font-family: Arial, sans-serif;
}

header {
    background-color: #010409;
    padding: 10px 20px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid #30363db3;
    
}

nav {
    overflow: hidden;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin-right: 20px;
    margin: 1 auto;
}

nav ul li a {
    display: block;
    color: #fff;
    text-align: center;
    margin: 1 auto;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
    transition: background-color 0.3s ease;
    border-color: #262b32;
    border-radius: 15px;
}

nav ul li a:hover {
    background-color: #292e36;
}

main {
    padding: 80px 20px 20px 20px;
    border-radius: 10px;
    margin: 20px;
    min-height: 200vh;
    box-sizing: border-box;
}

footer {
    position: fixed;
    padding: 10px 20px;
    right: 0;
    bottom: 0;
    text-align: center; 
    width: 100%;
    z-index: 1000;
    box-shadow: inset 0px 2px 2px -1px rgba(0, 0, 0, 0.1);
}

.current {
    color: #c9d1d9;
    background: #0d1117;
    border: 1px solid #30363db3;
    margin: 10px;
    padding: 10px;
    padding: 8px 12px;
    border-radius: 15px;
    cursor: pointer;
    text-decoration: none;
}
 .current:hover {
    background-color: #292e36;
 }

.next {
    color: #c9d1d9;
    background: #0d1117;
    border: 1px solid #30363db3;
    margin: 10px;
    padding: 10px;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}
 .next:hover {
    background-color: #292e36;
 }

.previous {
    color: #c9d1d9;
    background: #0d1117;
    border: 1px solid #30363db3;
    margin: 10px;
    padding: 10px;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}
 .previous:hover {
    background-color: #292e36;
 }

.portfolio-form {
    background: #0d1117;
    margin-left: 660px;
    margin-right: 660px;
    color: #fff;
    padding: 2em;
    height: 100%;
    width: 465px;
    border: 1px solid #30363db3;
    border-radius: 0.75em;
    line-height: 1.6;
    overflow: hidden;
    margin-bottom: 2rem;
    position: relative;
    font-size: 0.875rem;
}

.title {
    color: #fff;
    font-family: sans-serif;
    font-size: 36px;
    font-weight: 600;
    text-align: center;
  }

.form {
    align-self: center;
  }

.form_input {
    width: clamp(120px, 50vw, 420px);
    height: 2.5rem;
    padding: 0 1.25rem;
    color: #fff;
    caret-color: #fff;
    background-color: #0d1117;
    border: 1px solid #30363db3;
    border-radius: 2px;
    margin: 0.625rem auto;
    transition: all 250ms;
}

.form__input {
    width: clamp(120px, 50vw, 420px);
    height: 5em;
    padding: 0 1.25rem;
    color: #fff;
    caret-color: #c9d1d9;
    background-color: #0d1117;
    border: 1px solid #30363db3;
    border-radius: 2px;
    margin: 0.625rem auto;
    transition: all 250ms;
    line-height: 3;
}

 .form__input::placeholder{
    color: #8d96a0;
 }

.form_input::placeholder{
    padding-top: 10px;
    color: #8d96a0;
}
 textarea {
     font-family: Arial;
     resize: vertical;
 }

 textarea input {
     padding-bottom: 10px;
 }

.form_label {
    color: grey;
    display: block;
}


input[type="date"] {
    font-family: Arial;
    color: #8d96a0;
}

select {
    font-family: Arial;
    color: #8d96a0;
}

.form-btn {
    color: #c9d1d9;
    background-color: #21262d;
    border: 1px solid #30363db3;
    padding-right: 0.1rem;
    padding-left: 0.1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-family: Arial;
    font-size: 18px;
    font-weight: 400    ;
    line-height: 1.5;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
    display: inline-block;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    border-radius: 0.375rem;
    width: 100%;
    border: none;
 }
 .form-btn:hover {
    color: #c9d1d9;
    background-color: #292e36;
 }
 .form-btn:active {
    color: #c9d1d9;
    background-color: #292e36;
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
 }
 .form-btn:focus {
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
 }
 .form_input input[type="text"] {
    padding-block: 1px;
 }

 .title {
    font-size: 20px;
 }

.auth-form {
    padding: 16px;
    font-size: 14px;
    background-color: #161b22;
    border-top: 0;
    border-radius: 6px;
    border: 1px solid #30363db3;
    width: 288px;
    height: auto;
    margin: 0 auto;
    line-height: 1.6;
    overflow: hidden;
    margin-bottom: 2rem;    
    position: relative;
    box-shadow: inset 0px 1px 0px 0px #0104093d;
}

.auth-form-input {
    display: block;
    width: 100%;
    margin: 5px;
    padding: 5px 12px;
    font-size: 14px;
    line-height: 20px;
    color: #fff;
    background-color: #0d1117;
    border: 1px solid #30363db3;
    border-radius: 6px;
    transition: 80ms cubic-bezier(0.33, 1, 0.68, 1); 
    box-sizing: border-box;
 }

.auth-form label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: 400;
    text-align: left;
}

.auth-form-btn {
    display: block;
    width: 100%;
    text-align: center;
}