body, html {
    color: #fff;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: #0d1117;
    font-family: "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

header {
    background-color: #0d1117;
    padding: 10px 20px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid #30363db3;
    
}

nav {
    overflow: hidden;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin-right: 20px;
    margin: 1 auto;
}

nav ul li a {
    display: block;
    color: #fff;
    text-align: center;
    margin: 1 auto;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
    transition: background-color 0.3s ease;
    border-color: #262b32;
    border-radius: 15px;
}

nav ul li a:hover {
    background-color: #292e36;
}

main {
    padding: 80px 20px 20px 20px;
    border-radius: 10px;
    margin: 20px;
    min-height: 200vh;
    box-sizing: border-box;
}

footer {
    position: fixed;
    padding: 10px 20px;
    right: 0;
    bottom: 0;
    text-align: center; 
    width: 100%;
    z-index: 1000;
    box-shadow: inset 0px 2px 2px -1px rgba(0, 0, 0, 0.1);
}

.current {
    color: #c9d1d9;
    background: #0d1117;
    border: 1px solid #30363db3;
    margin: 10px;
    padding: 10px;
    padding: 8px 12px;
    border-radius: 15px;
    cursor: pointer;
    text-decoration: none;
}
 .current:hover {
    background-color: #292e36;
 }

.next {
    color: #c9d1d9;
    background: #0d1117;
    border: 1px solid #30363db3;
    margin: 10px;
    padding: 10px;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}
 .next:hover {
    background-color: #292e36;
 }

.previous {
    color: #c9d1d9;
    background: #0d1117;
    border: 1px solid #30363db3;
    margin: 10px;
    padding: 10px;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}
 .previous:hover {
    background-color: #292e36;
 }

.portfolio-form {
    background: #0d1117;
    margin-left: 660px;
    margin-right: 660px;
    color: #fff;
    padding: 2em;
    height: 100%;
    width: 465px;
    border: 1px solid #30363db3;
    border-radius: 0.75em;
    line-height: 1.6;
    overflow: hidden;
    margin-bottom: 2rem;
    position: relative;
    font-size: 0.875rem;
}

.title {
    color: #fff;
    font-family: sans-serif;
    font-size: 36px;
    font-weight: 600;
    text-align: center;
  }

.form {
    align-self: center;
  }

.form_input {
    width: clamp(120px, 50vw, 420px);
    height: 2.5rem;
    padding: 0 1.25rem;
    color: #fff;
    caret-color: #fff;
    background-color: #0d1117;
    border: 1px solid #30363db3;
    border-radius: 2px;
    margin: 0.625rem auto;
    transition: all 250ms;
}

.form__input {
    width: clamp(120px, 50vw, 420px);
    height: 5em;
    padding: 0 1.25rem;
    color: #fff;
    caret-color: #c9d1d9;
    background-color: #0d1117;
    border: 1px solid #30363db3;
    border-radius: 2px;
    margin: 0.625rem auto;
    transition: all 250ms;
    line-height: 3;
}

 .form__input::placeholder{
    color: #8d96a0;
 }

.form_input::placeholder{
    padding-top: 10px;
    color: #8d96a0;
}
 textarea {
     font-family: Arial;
     resize: vertical;
 }

 textarea input {
     padding-bottom: 10px;
 }

.form_label {
    color: grey;
    display: block;
}


input[type="date"] {
    font-family: Arial;
    color: #8d96a0;
}

select {
    font-family: Arial;
    color: #8d96a0;
}

.form-btn {
    padding-right: 0.1rem;
    padding-left: 0.1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-family: Arial;
    font-size: 18px;
    font-weight: 400    ;
    line-height: 1.5;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
    display: inline-block;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    border-radius: 0.375rem;
    width: 100%;
    border: none;
 }

 .form_input input[type="text"] {
    padding-block: 1px;
 }

 .title {
    font-size: 20px;
 }

.btn {
    font-family: "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    color: #c9d1d9;
    background-color: #21262d;
    border: 1px solid #30363d;
}
 .btn:hover {
    color: #c9d1d9;
    background-color: #292e36;
 }

 .btn:active {
    color: #c9d1d9;
    background-color: #292e36;
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
 }
 .btn:focus {
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
 }

.auth-form {
    padding: 16px;
    font-size: 14px;
    background-color: #161b22;
    border-top: 0;
    border-radius: 6px;
    border: 1px solid #30363db3;
    width: 288px;
    height: auto;
    margin: 0 auto;
    line-height: 1.6;
    overflow: hidden;
    margin-bottom: 2rem;    
    position: relative;
    box-shadow: inset 0px 1px 0px 0px #0104093d;
}

.auth-form-input {
    display: block;
    width: 100%;
    margin: 5px;
    margin-bottom: 10px;
    padding: 5px 12px;
    font-size: 14px;
    line-height: 20px;
    color: #fff;
    background-color: #0d1117;
    border: 1px solid #30363db3;
    border-radius: 6px;
    transition: 80ms cubic-bezier(0.33, 1, 0.68, 1); 
    box-sizing: border-box;
 }

.auth-form label {
    display: block;
    margin-left: 5px;
    margin-bottom: 10px;
    font-weight: 400;
    text-align: left;
}

.auth-form-btn {
    display: block;
    width: 100%;
    text-align: center;
    padding: 5px 16px;
    margin-left: 5px;
    line-height: 20px;
    color: #ffffff;
    background-color: #238636;
    box-shadow: 0px 1px 0px 0px #01040966;
    transition: 80ms cubic-bezier(0.33, 1, 0.68, 1);
    position: relative;
    font-size: 14px;
    font-weight: 550;
    white-space: nowrap;
    cursor: pointer;
    user-select: none;
    border-radius: 6px;
    user-select: none;
    border: 1px solid #238636;
    border-radius: 6px;
    appearance: none;
    padding-inline: 6px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #010409;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(255, 255, 255, 0.2);
    z-index: 1;
    border-radius: 15px;
    border-color: #fff;
}

.dropdown-content a {
    color: rgb(255, 255, 255);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-radius: 10px;
}

.dropdown-content a:hover {
    background-color: #868686;
}


.card-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
  }

  .card {
    background-color: #0d1117;
    border: 1px solid #30363d;
    border-radius: 10px;
    padding: 20px;
    width: 300px;
    height: 500px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
  }

  .card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  }

  .card h2 {
    margin-top: 0;
    color: #58a6ff;
  }

  .card p {
    margin: 10px 0;
    color: #8b949e;
  }

  .btn_3 {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 10px;
    background-color: #238636;
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.2s;
    margin-top: 350px;
  }

  .btn_3:hover {
    background-color: #2ea043;
  }

.calendar {
    width: 25px;
    height: 25px;
}

.add-friend {
    width: 25px;
    height: 25px;
}

.rounded-circle {
    border-radius: 50%;
}

.profile-photo {
    width: 32px;
    height: 32px;
}

.padding nav ul li a {
    padding: 10px 10px;
}

.profile-username {
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px;
    color: #8d96a0;
    padding-top: 16px;
    padding-bottom: 16px;
}

.profile-main-photo {
    display: block;
    border: 1px solid #30363d;
}

.width-full {
    width: 100%;
}

.profile-container {
    box-sizing: border-box;
    padding-left: 32px;
    padding-right: 32px;
    margin-top: 8px;
    max-width: 324px;
    margin-right: auto;
    margin-left: auto;
}

.project-container {
    box-sizing: border-box;
    flex-wrap: wrap;
    margin-right: calc(8px -1);
    margin-left: calc(8px -1);
}

.portfolio-projects-text {
    font-weight: 400;
    margin-bottom: 8px;
}

.layout {
    display: grid;
    grid-gap: 24px;
    grid-auto-flow: column;
}
.layout-sidebar {
    grid-column: 1;
}

.layout-main {
    grid-column: 2;
}

.project-item-set {
    display: flex;
    margin-bottom: 16px;
}

.project-item {
    background-color: #010409;
    border-color: #30363d;
    border-radius: 0.375rem;
    border-style: solid;
    border-width: 1px;
    padding: 16px;
    width: 250px;
}

.project-item-content {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.project-item-content-title {
    display: flex;
    width: 100%;
    align-items: center;
    flex: auto;
}

.project-item-content-description {
    flex: 1 0 auto;
    font-size: 12px;
    margin-top: 16px;
    margin-bottom: 16px;
    color: #8d96a0;
}

.project-item-content-createdtime {
    display: inline-block;
    text-align: right;
    flex: auto;
    font-size: 12px;
    color: #8d96a0;
}

div {
    display: block;
}

.mb-16px {
    margin-bottom: 16px;
}

.mt-16px {
    margin-top: 16px;
}

a {
    color: #4493f8;
    text-decoration: none;
}

.profile-photo-btn {
    text-align: center;
    position: relative;
    display: block;
    padding: 5px 16px;
    font-size: 14px;
    font-weight: 500;
    width: 100%;
    line-height: 20px;
    white-space: nowrap;
    cursor: pointer;
    user-select: none;  
    border-radius: 6px;
}

.profile-photo-form {
    display: none;
}

.profile-photo-label {
    display: block
}

.profile-field {
    width: 100%;
    padding: 5px 12px;
    margin-bottom: 8px;
    font-size: 14px;
    line-height: 20px;
    color: #e6edf3;
    vertical-align: middle;
    background-color: #0d1117;
    background-repeat: no-repeat;
    background-position: right 8px center;
    border: 1px solid #30363d;
    border-radius: 6px;
    box-shadow: inset 0px 1px 0px 0px #0104093d
}

.small-green-btn {
    font-weight: 500 !important;
    color: #ffffff;
    fill: #ffffff;
    background-color: #238636;
    border-color: #f0f6fc1a;
    box-shadow: 0px 1px 0px 0px #01040966;
    font-size: 12px;
    gap: 0.25rem;
    height: 1.75rem;
    min-height: 1.75rem;
    padding: 0 8px;
    align-items: center;
    border-radius: 0.375rem;
    cursor: pointer;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    text-align: center;
}

.small-gray-btn {
    line-height: 1.6666;
    grid-area: text;
    white-space: nowrap;
    color: #c9d1d9;
    background-color: #21262d;
    box-shadow: 0px 1px 0px 0px #01040966;
    font-size: 12px;
    gap: 0.25rem;
    height: 1.75rem;
    min-height: 1.75rem;
    padding: 0 8px;
    align-items: center;
    border: 1px solid #30363d;
    border-radius: 0.375rem;
    cursor: pointer;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    min-width: max-content;
    position: relative;
    text-align: center;

}