body {
    font-family: "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    background-color: #010409;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #c9d1d9;
}

.container {
    background-color: #0d1117;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 400px;
}

h2 {
    text-align: center;
    color: #c9d1d9;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #161b22;
    margin: 10px 0;
    padding: 15px;
    border-radius: 4px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

form {
    display: inline-block;
}

form button {
    background-color: #238636;
    color: #c9d1d9;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

form button:hover {
    background-color: #2ea043;
}

.request-info {
    flex: 1;
}