{% extends "base.html" %}
{% load i18n %}

{% block title %}{% translate "Sign up" %}{% endblock %}

{% block content %}
  <form method="post" class="auth-form">
    {% csrf_token %}
    <div class="title">{% translate "Sign up" %}</div>
        <label for="username">{% translate "Username" %}</label>
        {{ form.username }}
        <label for="email">{% translate "Email" %}</label>
        {{ form.email }}
        <label for="password1">{% translate "Password 1" %}</label>
        {{ form.password1 }}
        <label for="password2">{% translate "Password 2" %}</label>
        {{ form.password2 }}
    <button type="submit" class="auth-form-btn" href="{% url 'auth_sys:login' %}">{% translate "Sign up" %}</button>
  </form>
{% endblock %}
