{% extends 'base.html' %}
{% load i18n %}


{% block content %}
<div class="container mt-3">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% if messages %}
        <!-- <ul class="messages">
            {% for message in messages %}
            <li>{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul> -->
        {% endif %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-success">{% translate "Save" %} </button>
    </form>
</div>
{% endblock %}