{% extends 'base.html' %}
{% load i18n %}

{% block content %}
<div class="container">
    <h2>Оновити оголошення</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">{% translate "Update announcement" %} </button>
        <a href="{% url 'announsements:news_list' %}" class="btn btn-secondary">{% translate "Go back to announcements list" %} </a>
        <a href="{% url 'announsements:announsement_delete' announsement.id%}" class="btn btn-danger">{% translate "Delete announcement" %} </a>
    </form>
</div>
{% endblock %}