{% extends 'base.html' %}
{% load i18n %}

{% block content %}
<div class="container">
    <h2>{% translate "Delete announcement" %} </h2>
    <p> {% translate "Are you sure you want to delete announcement?" %}{{ object.title }}"?</p>

    <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">{% translate "Yes delete" %} </button>
        <a href="{% url 'announsements:news_list' %}" class="btn btn-secondary"> {% translate "No, Go back to announcements list" %} </a>
    </form>
</div>
{% endblock %}