{% extends "base.html" %}

{% block content %}
    
{%for announsement in announsements%}
<div class="card mb-3">
    <img src="/media/{{ announsement.media }}" class="card-img-top" alt="Зображення" style="max-width: 290px;">
    <div class="card-body">
      <h2 class="card-title">{{announsement.title}}</h2>
      <p class="card-text">{{announsement.text}}</p>
      <p class="card-text"><small class="text-body-secondary">Last updated {{announsement.creation_date}}</small></p>
      <form action="{% url 'announsements:announsement_like_toggle' announsement.id %}" method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-sm {% if request.user in announsement.likes.all %}btn-success{% else %}btn-outline-success{% endif %}">
            нравится {{ announsement.likes.count }}
        </button>
      </form>
    </div>
  </div>

  <p></p>
{% endfor %}

  <a href="{% url 'announsements:announsement_create' %}" class="btn btn-primary">Создать обьявление</a>

{% endblock %}