<!-- templates/base.html -->

<!DOCTYPE html>
<html>
<head>
  <title>Portal Group</title>
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
<body>
  <header>
    <nav>
      <ul>
        <li><a href="{% url 'main:home' %}">Home</a></li>
        <li><a href="{% url 'announsements:news_list' %}">News</a></li>
        <li><a href="{% url 'forum:thread-list' %}">Forum</a></li>
        {% if user.is_authenticated %}
          {% if user.portfolio.pk %}
              <li><a href="{% url 'portfolio:portfolio_main' user.portfolio.pk %}">Portfolio</a></li>
          {% else %}
              <li><a href="{% url 'portfolio:portfolio_create' %}">Portfolio Create</a></li>
          {% endif %}
          <li><a href="{% url 'auth_sys:logout' %}">Logout</a></li>
        {% else %}
          <li><a href="{% url 'auth_sys:login' %}">Sign in</a></li>
          <li><a href="{% url 'auth_sys:signup' %}">Sign Up</a></li>
        {% endif %}
      </ul>
    </nav>
  </header>
  <main>
    {% block content %}
    {% endblock %}
  </main>
</body>
</html>