{% extends "base.html" %}

{% block content %}

{% load static %}
{% load i18n %}
{% load forum %} 
<div class="layout">
{% for post in posts %}
  {% with item=post.item %}


  {% if post.reply %}
  <h3>{{ post.reply.item }}</h3>

  {% endif %}

  {% if item|model_name == 'voting' %}
  
    <h3>{{ item }}</h3>
    <br>
    
    {% for option in item.options.all %}
    <form method="post" action="{% url 'forum:vote-toggle' option.pk %}">
        {% csrf_token %}
        <button type="submit" class="btn btn-primary">{{option }}</button>
        
        {% if user.is_authenticated %}
        {% if  item|is_voted:user %}
        <div class="progress">
            <div class="progress-bar" role="progressbar" aria-label="Example with label" style="width: {{option.votes_count_perc}}%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">{{option.votes_count_perc}}%</div>
          </div>
        {% endif %}
        {% endif %}
        
    </form>
    <br>
    {% endfor %}
    
    {{item.votes_count}} {% translate "votes" %}

    

  {% elif item|model_name == 'text' %}
  <div class="profile-container">
    <div class="mb-16px project-item">
      <div class="project-item-content">
        <div class="project-item-content-title">
          {{ item }}
        </div>
        <span class="project-item-content-description">{{ item.content }}</span>
        <div class="project-item-set">
          {% if item.creator == user or user|has_perms:'forum.change_post' %}
          <a class="small-gray-btn" href="{% url "forum:post-update" thread.id item|model_name item.id %}">
            {% translate "Edit" %}
          </a>
          {% endif %}

          {% if item.creator == user or user|has_perms:'forum.delete_post' %}
          <form action="{% url "forum:post-delete" post.id %}" method="post">
            <input class="small-gray-btn" type="submit" value={% translate "Delete" %}>
            {% csrf_token %}
          </form>
          {% endif %}
        </div>

        <div class="dropdown">
          <a href="javascript:void(0)" class="dropbtn small-gray-btn">{% translate "Manage" %}</a>
          <div class="dropdown-content">
            <a class="dropdown-item" href="{% url 'complaints:complaint-create' 'post'  post.id  %}">{% translate "Complain" %}</a>
            <a class="dropdown-item" href="{% url 'forum:post-reply'  "text"   post.id  %}">{% translate "Reply with text" %}</a>
            <a class="dropdown-item" href="{% url 'forum:post-reply'  "image"  post.id  %}">{% translate "Reply with image" %}</a>
            <a class="dropdown-item" href="{% url 'forum:post-reply'  "video"  post.id  %}">{% translate "Reply with video" %}</a>
            <a class="dropdown-item" href="{% url 'forum:post-reply'  "file"   post.id  %}">{% translate "Reply with file" %}</a>
            <a class="dropdown-item" href="{% url 'forum:post-reply'  "voting" post.id  %}">{% translate "Reply with voting" %}</a>
          </div>
      </div>
    </div>
  </div>
  {% elif item|model_name == 'image' %}
  <div class="project-container">
    <div class="mb-16px media-item">
      <div class="project-item-content">
        <div class="project-item-content-title">
          {{ item }}
        </div>
        <span class="project-item-content-description"><img src="{{ item.file.url }}" height="460" width="460"></span>
        <div class="project-item-set">
          {% if item.creator == user or user|has_perms:'forum.change_post' %}
          <a class="small-gray-btn" href="{% url "forum:post-update" thread.id item|model_name item.id %}">
            {% translate "Edit" %}
          </a>
          {% endif %}

          {% if item.creator == user or user|has_perms:'forum.delete_post' %}
          <form action="{% url "forum:post-delete" post.id %}" method="post">
            <input class="small-gray-btn" type="submit" value={% translate "Delete" %}>
            {% csrf_token %}
          </form>
          {% endif %}
        </div>

        <div class="dropdown">
          <a href="javascript:void(0)" class="dropbtn small-gray-btn">{% translate "Manage" %}</a>
          <div class="dropdown-content">
            <a class="dropdown-item" href="{% url 'complaints:complaint-create' 'post'  post.id  %}">{% translate "Complain" %}</a>
            <a class="dropdown-item" href="{% url 'forum:post-reply'  "text"   post.id  %}">{% translate "Reply with text" %}</a>
            <a class="dropdown-item" href="{% url 'forum:post-reply'  "image"  post.id  %}">{% translate "Reply with image" %}</a>
            <a class="dropdown-item" href="{% url 'forum:post-reply'  "video"  post.id  %}">{% translate "Reply with video" %}</a>
            <a class="dropdown-item" href="{% url 'forum:post-reply'  "file"   post.id  %}">{% translate "Reply with file" %}</a>
            <a class="dropdown-item" href="{% url 'forum:post-reply'  "voting" post.id  %}">{% translate "Reply with voting" %}</a>
          </div>
      </div>
    </div>
  </div>
  {% elif item|model_name == 'video' %}
  <div class="profile-container">
    <div class="mb-16px project-item">
      <div class="project-item-content">
        <div class="project-item-content-title">
          {{ item }}
        </div>
        <span class="project-item-content-description">{{ item.url }}</span>
        <div class="project-item-set">
          {% if item.creator == user or user|has_perms:'forum.change_post' %}
          <a class="small-gray-btn" href="{% url "forum:post-update" thread.id item|model_name item.id %}">
            {% translate "Edit" %}
          </a>
          {% endif %}

          {% if item.creator == user or user|has_perms:'forum.delete_post' %}
          <form action="{% url "forum:post-delete" post.id %}" method="post">
            <input class="small-gray-btn" type="submit" value={% translate "Delete" %}>
            {% csrf_token %}
          </form>
          {% endif %}
        </div>

        <div class="dropdown">
          <a href="javascript:void(0)" class="dropbtn small-gray-btn">{% translate "Manage" %}</a>
          <div class="dropdown-content">
            <a class="dropdown-item" href="{% url 'complaints:complaint-create' 'post'  post.id  %}">{% translate "Complain" %}</a>
            <a class="dropdown-item" href="{% url 'forum:post-reply'  "text"   post.id  %}">{% translate "Reply with text" %}</a>
            <a class="dropdown-item" href="{% url 'forum:post-reply'  "image"  post.id  %}">{% translate "Reply with image" %}</a>
            <a class="dropdown-item" href="{% url 'forum:post-reply'  "video"  post.id  %}">{% translate "Reply with video" %}</a>
            <a class="dropdown-item" href="{% url 'forum:post-reply'  "file"   post.id  %}">{% translate "Reply with file" %}</a>
            <a class="dropdown-item" href="{% url 'forum:post-reply'  "voting" post.id  %}">{% translate "Reply with voting" %}</a>
          </div>
      </div>
    </div>
  </div>
  {% elif item|model_name == 'file' %}
  <div class="profile-container">
    <div class="mb-16px project-item">
      <div class="project-item-content">
        <div class="project-item-content-title">
          {{ item }}
        </div>
        <span class="project-item-content-description"><a href ={{item.file.url}} >{% translate "file" %}</a></span>
        <div class="project-item-set">
          {% if item.creator == user or user|has_perms:'forum.change_post' %}
          <a class="small-gray-btn" href="{% url "forum:post-update" thread.id item|model_name item.id %}">
            {% translate "Edit" %}
          </a>
          {% endif %}

          {% if item.creator == user or user|has_perms:'forum.delete_post' %}
          <form action="{% url "forum:post-delete" post.id %}" method="post">
            <input class="small-gray-btn" type="submit" value={% translate "Delete" %}>
            {% csrf_token %}
          </form>
          {% endif %}
        </div>

        <div class="dropdown">
          <a href="javascript:void(0)" class="dropbtn small-gray-btn">{% translate "Manage" %}</a>
          <div class="dropdown-content">
            <a class="dropdown-item" href="{% url 'complaints:complaint-create' 'post'  post.id  %}">{% translate "Complain" %}</a>
            <a class="dropdown-item" href="{% url 'forum:post-reply'  "text"   post.id  %}">{% translate "Reply with text" %}</a>
            <a class="dropdown-item" href="{% url 'forum:post-reply'  "image"  post.id  %}">{% translate "Reply with image" %}</a>
            <a class="dropdown-item" href="{% url 'forum:post-reply'  "video"  post.id  %}">{% translate "Reply with video" %}</a>
            <a class="dropdown-item" href="{% url 'forum:post-reply'  "file"   post.id  %}">{% translate "Reply with file" %}</a>
            <a class="dropdown-item" href="{% url 'forum:post-reply'  "voting" post.id  %}">{% translate "Reply with voting" %}</a>
          </div>
      </div>
    </div>
  </div>
  {% endif %}

    {% endwith %}

</div>
{% empty %}
<p>{% translate "No posts on this thread yet" %}</p>
{% endfor %}

<div class="mt-16px">
  <div class="dropdown">
    <a href="javascript:void(0)" class="dropbtn"><img src={% static "img/plus_icon.png"%} height="250" width="250"></a>
    <div class="dropdown-content-plus">
      <a class="dropdown-item" href="{% url "forum:post-create" thread.id "text" %}">{% translate "Text" %}</a>
      <a class="dropdown-item" href="{% url "forum:post-create" thread.id "image" %}">{% translate "Image" %}</a>
      <a class="dropdown-item" href="{% url "forum:post-create" thread.id "video" %}">{% translate "Video" %}</a>
      <a class="dropdown-item" href="{% url "forum:post-create" thread.id "file" %}">{% translate "File" %}</a>
      <a class="dropdown-item" href="{% url "forum:post-create" thread.id "voting" %}">{% translate "Voting" %}</a>
    </div>
  </div>
</div>

      <footer>
        {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}" class="previous">{% translate "previous" %}</a>
        {% endif %}
        <a href="?page={{ page_obj.number }}" class="current">{{ page_obj.number }}</a>
        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}" class="next">{% translate "next" %}</a>
        {% endif %}
    </footer>


{% endblock content %}


