{% extends "base.html" %}

{% block content %}

{% load forum %} 

{% for post in posts %}
  {% with item=post.item %}


  {% if post.reply %}
  <h3>{{ post.reply.item }}</h3>

  {% endif %}

  {% if item|model_name == 'voting' %}
  
    <h3>{{ item }}</h3>
    <br>
    
    {% for option in item.options.all %}
    <form method="post" action="{% url 'forum:vote-toggle' option.pk %}">
        {% csrf_token %}
        <button type="submit" class="btn btn-primary">{{option }}</button>
        
        {% if user.is_authenticated %}
        {% if  item|is_voted:user %}
        <div class="progress">
            <div class="progress-bar" role="progressbar" aria-label="Example with label" style="width: {{option.votes_count_perc}}%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">{{option.votes_count_perc}}%</div>
          </div>
        {% endif %}
        {% endif %}
        
    </form>
    <br>
    {% endfor %}
    
    {{item.votes_count}} votes

    

  {% elif item|model_name == 'text' %}
    <h3>{{ item }}  </h3>
    <p>{{ item.content }}</p>
  {% elif item|model_name == 'image' %}
    <h3>{{ item }}  </h3>
    <img src="{{ item.file.url }}">
  {% elif item|model_name == 'video' %}
  <h3>{{ item }}  </h3>
  {{item.url}}
  {% elif item|model_name == 'file' %}
  <h3>{{ item }}  </h3>
  <a href ={{item.file.url}} >file</a>
  {% endif %}



    {% if item.creator == user or user|has_perms:'forum.change_post' %}
    <a href="{% url "forum:post-update" thread.id item|model_name item.id %}">
      Edit
    </a>
    {% endif %}

    {% if item.creator == user or user|has_perms:'forum.delete_post' %}
    <form action="{% url "forum:post-delete" post.id %}" method="post">
      <input type="submit" value="Delete">
      {% csrf_token %}
    </form>
    {% endif %}


    {% endwith %}

    <div class="dropdown">
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="{% url 'complaints:complaint-create' 'post'  post.id  %}">Complain</a></li>
        <li><a class="dropdown-item" href="{% url 'forum:post-reply'  "text"   post.id  %}">Reply with text</a></li>
        <li><a class="dropdown-item" href="{% url 'forum:post-reply'  "image"  post.id  %}">Reply with image</a></li>
        <li><a class="dropdown-item" href="{% url 'forum:post-reply'  "video"  post.id  %}">Reply with video</a></li>
        <li><a class="dropdown-item" href="{% url 'forum:post-reply'  "file"   post.id  %}">Reply with file</a></li>
        <li><a class="dropdown-item" href="{% url 'forum:post-reply'  "voting" post.id  %}">Reply with voting</a></li>
      </ul>
    </div>



</div>
{% empty %}
<p>No posts on this thread yet</p>
{% endfor %}

<h3>Add new posts:</h3>
    <ul >
      <li>
        <a href="{% url "forum:post-create" thread.id "text" %}">Text</a>
      </li>
      <li>
        <a href="{% url "forum:post-create" thread.id "image" %}">Image</a>
      </li>
      <li>
        <a href="{% url "forum:post-create" thread.id "video" %}">Video</a>
      </li>
      <li>
        <a href="{% url "forum:post-create" thread.id "file" %}">File</a>
      </li>
      <li>
        <a href="{% url "forum:post-create" thread.id "voting" %}">Voting</a>
      </li>


      <footer>
        {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}" class="previous">previous</a>
        {% endif %}
        <a href="?page={{ page_obj.number }}" class="current">{{ page_obj.number }}</a>
        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}" class="next">next</a>
        {% endif %}
    </footer>


{% endblock content %}


