{% extends "base.html" %}

{% block content %}

    {% for thread in threads %}

        <a href='{% url "forum:thread-detail" thread.pk %}'> {{thread}}</a> 
        <br>
        <a href='{% url "forum:thread-delete" thread.pk %}'>Delete</a>
        <br>
        <a href='{% url "forum:thread-update" thread.pk %}'> Edit</a>
        <br>
    {% empty %}
        No thread yet create new one 
        <br>
    
    {% endfor %}

    <a href='{% url "forum:thread-create" %}' >Create new thread<a>


    <footer>
        {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}" class="previous">previous</a>
        {% endif %}
        <a href="?page={{ page_obj.number }}" class="current">{{ page_obj.number }}</a>
        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}" class="next">next</a>
        {% endif %}
    </footer>

{% endblock content %}